#app {
  margin-top: 72px;
}

.movie-toolbar-wrapper {
  @extend .py-2;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

#movie-list-container {
  @extend .mt-5;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
}

.movie-grid,
.movie-list,
.movie-details {
  .movie-poster {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: $border-radius;

    &:hover {
      cursor: pointer;
      opacity: 70%;
    }
  }

  .movie-title {
    font-size: $font-size-base * 1.25;
    font-weight: $font-weight-bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .movie-overview {
    margin: 6px 0 30px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.movie-grid {
  @extend .col-lg-3;
  @extend .col-md-4;
  @extend .col-sm-6;

  .movie-poster {
    height: auto;
    // min height cos there are images that are low-scale 
    min-height: 462px;
  }

  .movie-overview {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
  
}

.movie-grid .movie-rating {
  margin-bottom: 4px;
}

.movie-list {
  @extend .my-3;

  .movie-title {
    @extend .mb-1;
  }
  .movie-overview {
    @extend .mb-0;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
  }

  .movie-poster {
  width: 80px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}


.movie-details {
  color: white;
  background-color: black;
  background-size: cover;
  background-position: center;

  .movie-poster:hover {
    opacity: 100%;
    cursor: default;
  }

  .movie-backdrop-overlay {
    @extend .py-5;
    background-color: rgba(0, 0, 0, 0.7);
    filter: none;
  }

  .movie-title {
    font-size: 2.5rem;
  }

  .movie-overview {
    font-size: 1.3rem;

    &-title {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .movie-data {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

#search-movie-input {
  border: none;
}

//Deleting margin from title so both layouts has it independent for better view
.movie-grid .movie-title {
  margin: 0.5rem 0 !important;
}


.movie-list .movie-title {
  margin: 0 !important;
}

.movie-details .movie-poster {
  width: auto;
  height: 100%;
  max-height: 400px;
}

// New class for deatil view 
.movie-poster-detail {
  width: 400px;
  height: auto;
  border-radius: $border-radius;
  object-fit: cover;
}