.nav-container {
  background-color: rgb(237, 237, 237);
  top: 72px;
  position: sticky;
  z-index: 1;
  

}

.nav-container .container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-categories {
  // ml auto : makes take the complete space of the div for taking all the space.
  margin-left: auto;
}

.select-info {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

.select-toggle{
  text-align: center;
}